.UserVerification {
    margin: 2rem;

    h1 {
        font-size: 1.1rem;
        margin-top: 20px;
    }

    p {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.1rem;
        padding: 10px;
    }


}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.connect-accounts,
.third-party {
    margin-bottom: 20px;
}

.account-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    .platform-name {
        color: black;
        font-weight: 500;
    }

    .connect-text {
        color: #888;
    }

    input[type="checkbox"] {
        display: none;
    }
}

.account-option label {
    display: flex;
    align-items: center;
    width: 100%;
}

.account-option img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.continue-button {
    background-color: rgb(85, 204, 182);
}

.skip-button {
    border: 1px solid black;
}

button {
    text-align: center;
    padding: 15px;
    width: calc(100% - 20px);
    border: none;
    border-radius: 25px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.checkmark {
    font-size: 16px;
    color: #55CCB6;
    margin-left: auto;
}

input[type="checkbox"]:checked+label .checkmark {
    opacity: 1;
}

img {
    border-radius: 8px;
}

.widget-container {
    width: 60%;
    height: auto;
}
