.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .form-container {
    width: 100%;
    max-width: 360px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
  }
  
  .icon {
    width: 300px;
    height: auto;
    border: 1px solid #ccc;
    margin: auto;
    margin-bottom: 30px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input[type='file'] {
    display: none;
  }

  .photoUpload {
    display: inline-block;
    text-align: center;
    padding: 25px;
    width: calc(100% - 0px);
    border: 1px solid rgb(85, 204, 182);
    border-radius: 55px;
    margin-bottom: 100px;

  }
  
  button {
    text-align: center;
    padding: 15px;
    width: calc(100% - 0px);
    border: none;
    border-radius: 35px;
    margin-bottom: 10px;
  }

  
  .continue-button {
    background-color: rgb(85, 204, 182);
  }

  .skip-button {
    border: 1px solid black;
  }


  .title {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px; 
    
  }
  
  .progress.w-56{
    margin-left: 25px;


  }