.LoginPage {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 2rem;
        height: 100vh;
    }

    .flex {
        display: flex;
        justify-content: space-between;
    }

    form {
        label {
            margin: 2rem auto;
        }
    }

    button {
        width: 50%
    }
}