@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.Home {
  min-height: 100vh;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 6rem;
  }

  .Logo {
    display: block;
    margin: 2rem auto;
  }

  button {
    display: block;
    text-align: center;
    width: 80%;
    background-color: #2aa598;
    color: #fff;
    margin: 10px auto;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }

  button:hover {
    background-color: #e6e6e6;
    color: #000;
  }
}
