.container {
    width: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.form-container {
    width:50%;
    height: 80%;
    padding:20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    p {
        color: black;
    }
    .Details-title {
        color:black;
    }
}
.form {
    display: flex;
    flex-direction: column;
}
.back-button {
 color:rgb(161, 200, 250)   
}

.icon{
    width:10%;
    height:10%;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgb(243, 243, 243);
}

.submit-button {
background-color: rgb(115, 204, 191);
padding: 15px;
color: white;
border: none;
border-radius: 5px;
font-size: 16px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.loading-bar {
    width: 100%;
    background-color: rgb(215, 215, 215);
    height: 5px;
}