.Chat {
    h1 {
        font-weight: 700;
    }

    .Chat-header {
        padding: 0.5rem 1.5rem;

        span {
            color: grey;
            display: block;
            font-weight: normal;
        }
    }

    .Chat-container {
        background-color: #C3E6E3;
        height: 75vh;
    }

    .Chat-footer {
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .Chat-footer-button {
            padding: 5px 15px;
            border-radius: 10px;
            background-color: #60D8C6;
            color: #fff;
        }
    }
}