.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .form-container {
    width: 100%;
    max-width: 360px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
  }
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    background-color: rgb(243, 243, 243);
    margin-bottom: 10px;
}

.progress.w-56{
    margin-left: 40px;
  }

.submit-button {
width: calc(100% - 40px);
max-width: none;
background-color: rgb(115, 204, 191);
padding: 20px;
color: white;
border: none;
border-radius: 30px;
font-size: 16px;
cursor: pointer;
margin-top: 100%;

}

.loading-bar {
    width: 100%;
    background-color: rgb(215, 215, 215);
    height: 5px;
    margin-bottom: 10px;
}

.title {
    margin-top: 30px;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 20px; 
    
  }
